<div th:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml">
    <h4 class="mb-3">Đơn hàng của tôi</h4>

    <table class="table table-bordered">
        <thead class="table-light">
        <tr>
            <th>Mã đơn</th>
            <th>Ngày đặt</th>
            <th>Trạng thái</th>
            <th>Tổng tiền</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>#ORD001</td>
            <td>08/01/2026</td>
            <td><span class="badge bg-success">Hoàn thành</span></td>
            <td>1.200.000 ₫</td>
        </tr>
        </tbody>
    </table>
</div>
