<div class="bg-white rounded-xl shadow p-6 max-w-md items-center">
<!--<div class="bg-white rounded-xl shadow p-6 flex flex-col items-center">-->
    <form th:action="@{/user/account/password/update}"
      method="post"
      class="space-y-4 max-w-md"
      xmlns:th="http://www.w3.org/1999/xhtml">

    <!-- Mật khẩu hiện tại -->
    <div class="relative">
        <label class="text-sm text-gray-600">Mật khẩu hiện tại</label>
        <input type="password"
               id="currentPassword"
               name="currentPassword"
               required
               class="w-full mt-1 px-4 py-2 border rounded-lg pr-10">

        <i class="fa-solid fa-eye absolute right-3 top-9 cursor-pointer text-gray-500"
           onclick="togglePassword('currentPassword', this)"></i>
    </div>

    <!-- Mật khẩu mới -->
    <div class="relative">
        <label class="text-sm text-gray-600">Mật khẩu mới</label>
        <input type="password"
               id="newPassword"
               name="newPassword"
               required
               minlength="6"
               class="w-full mt-1 px-4 py-2 border rounded-lg pr-10">

        <i class="fa-solid fa-eye absolute right-3 top-9 cursor-pointer text-gray-500"
           onclick="togglePassword('newPassword', this)"></i>
    </div>

    <!-- Nhập lại mật khẩu -->
    <div class="relative">
        <label class="text-sm text-gray-600">Nhập lại mật khẩu mới</label>
        <input type="password"
               id="confirmPassword"
               name="confirmPassword"
               required
               class="w-full mt-1 px-4 py-2 border rounded-lg pr-10">

        <i class="fa-solid fa-eye absolute right-3 top-9 cursor-pointer text-gray-500"
           onclick="togglePassword('confirmPassword', this)"></i>
    </div>

    <div class="flex justify-end">
        <button type="submit"
                class="px-5 py-2 bg-blue-600 text-white rounded-lg">
            Đổi mật khẩu
        </button>
    </div>
</form>
</div>
<script>
    function togglePassword(inputId, icon) {
        const input = document.getElementById(inputId);

        if (input.type === "password") {
            input.type = "text";
            icon.classList.remove("fa-eye");
            icon.classList.add("fa-eye-slash");
        } else {
            input.type = "password";
            icon.classList.remove("fa-eye-slash");
            icon.classList.add("fa-eye");
        }
    }
</script>
