<div class="container-fluid">

  <h2>Cập nhật thông tin tàu - <span th:text="${train.name} + ' (' + ${train.code} + ')'"></span></h2>
  <form th:action="@{/admin/train/update}" method="post">
    <!--            <h2>Cập nhật thông tin tàu </h2>-->
    <h4 class="mt-4">Danh sách toa </h4>
    <div th:each="coach, iStat : ${train.coaches}" class="border rounded p-3 mb-3">
      <input type="hidden" th:name="coaches[__${iStat.index}__].id" th:value="${coach.id}"/>

      <div class="row mb-2">
        <!-- Mã toa -->
        <div class="col-md-3">
          <label class="form-label">Mã toa</label>
          <input type="text" class="form-control"
                 th:name="coaches[__${iStat.index}__].code"
                 th:value="${coach.code}" required/>
        </div>

        <!-- Loại toa -->
        <div class="col-md-3">
          <label class="form-label">Loại toa</label>
          <select class="form-select"
                  th:name="coaches[__${iStat.index}__].type"
                  required>
            <option value="VIP"
                    th:selected="${coach.type == 'VIP'}">VIP</option>
            <option value="STANDARD"
                    th:selected="${coach.type == 'STANDARD'}">Standard</option>
          </select>
        </div>

        <!-- Trạng thái -->
        <div class="col-md-3">
          <label class="form-label">Trạng thái</label>
          <select class="form-select"
                  th:name="coaches[__${iStat.index}__].state"
                  required>
            <option value="ACTIVE"
                    th:selected="${coach.state == 'ACTIVE'}">Active</option>
            <option value="INACTIVE"
                    th:selected="${coach.state == 'INACTIVE'}">Inactive</option>
          </select>
        </div>

        <!-- Sức chứa -->
        <div class="col-md-3">
          <label class="form-label">Sức chứa</label>
          <input type="number" min="1" class="form-control"
                 th:name="coaches[__${iStat.index}__].capacity"
                 th:value="${coach.capacity}" required/>
        </div>
      </div>

      <!-- Danh sách ghế hiển thị (readonly) -->
      <div class="row mb-2">
        <div class="col-md-4">
          <label class="form-label">Danh sách ghế</label>
          <select class="form-select" multiple disabled>
            <option th:each="seat : ${coach.seats}"
                    th:value="${seat.id}"
                    th:text="${seat.seatCode}">
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between mt-4">
      <!-- Nút quay lại -->
      <a th:href="@{/admin/train/view}" class="btn btn-secondary">
        ← Quay lại
      </a>

      <!-- Nút cập nhật -->
      <button type="submit" class="btn btn-primary">
        💾 Cập nhật
      </button>
    </div>

  </form>
</div>
